* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}
header div {
  display: flex;
  margin: auto 6em;
}
header li {
  list-style: none;
  margin: 0 10px;
}
header li a {
  text-decoration: none;
}
header li a:hover {
  cursor: pointer;
  color: #1cbeff;
}
header p {
  font-size: 2em;
}

@media screen and (max-width: 1025px) {
  .page2__description--list {
    margin: auto 0 auto 6em;
    font-size: 1.5em;
  }
}
.page1 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.page1__video {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 6em;
}
.page1__video .flexible_video {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
}
.page1__video .flexible_video .youtuve_video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page1__video .title {
  display: inline-block;
  border-bottom: 3px solid #1cbeff;
  margin: 1em 0;
}
.page1 video {
  width: 80%;
  height: auto;
  margin: auto 0;
}
.page1__video--bluebox {
  width: 100%;
  height: 50%;
  background-color: #1cbeff;
  position: absolute;
  bottom: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.page1__video--bluebox div {
  display: block;
  text-align: center;
  margin-bottom: 1em;
}
.page1__video--bluebox a {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  display: block;
}
.page1__video--bluebox img {
  transform: rotate(-90deg);
}

.page2 {
  width: 100%;
  height: 100%;
  background-color: #f1a19f;
}
.page2__description h1 {
  color: #222a35;
  font-size: 4em;
  padding: 1em 0 0 4em;
}
.page2__description--list {
  width: 50%;
  display: inline-block;
  margin: 5em 0 auto 18em;
}
.page2__description--container {
  display: flex;
}
.page2__description--container li {
  list-style: none;
  font-size: 1.7em;
  color: white;
  margin-bottom: 2em;
  font-weight: bold;
}
.page2__description--container img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1025px) {
  .page2__description h1 {
    font-size: 3em;
    padding: auto 0 auto 2em;
  }

  .page2__description--list {
    margin: 1em 0 0 8em;
  }
  .page2__description--list li {
    font-size: 18px;
  }
}
.page3 {
  width: 100%;
  height: auto;
  display: flex;
}
.page3__description {
  margin: 10em auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page3__description--image {
  width: 100%;
  height: auto;
  box-shadow: 15px 15px 10px 0 rgba(0, 0, 0, 0.16);
}
.page3__description--image img {
  width: 100%;
  height: auto;
}
.page3__description--container {
  width: 80%;
  display: flex;
  align-items: center;
}
.page3__description--container li {
  list-style: none;
  font-size: 1.8em;
  padding: 0 1em 10px 1em;
  font-weight: bold;
  margin-bottom: 1em;
}

@media screen and (max-width: 1025px) {
  .page3__description--list li {
    font-size: 1.5em;
  }
}
.page4 {
  background-color: #ffbe00;
  width: 100%;
  height: auto;
}
.page4__container {
  padding: 8% 8%;
}
.page4 h1 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 1em;
}
.page4 img {
  width: 50px;
  float: left;
  padding-right: 5px;
}
.page4__perfil {
  width: 170px;
  height: 50px;
  margin: 0 auto;
}
.page4__perfil-name {
  display: inline-block;
  margin-top: 5px;
}

@media screen and (max-width: 1025px) {
  .page4__comment h1 {
    font-size: 1.4em;
  }
}
.form {
  background-color: #4A7FEE;
  width: 100%;
  height: auto;
}
.form__image {
  width: 100%;
  height: auto;
}
.form__image img {
  width: 100%;
  height: auto;
}
.form__container {
  padding: 4% 15%;
}
.form__container h1 {
  font-size: 4em;
  font-weight: bold;
  color: white;
  margin-bottom: 1em;
}
.form__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media only screen and (max-width: 1025px) {
  .form__title h1 {
    font-size: 3em;
  }
}
.form__contain {
  display: flex;
}
.form__buttoms {
  width: 100%;
}
.form__buttom--detail1 {
  margin-bottom: 1em;
  color: white;
  font-size: 1.5em;
}
.form__buttom--detail1 input {
  margin-top: 0.5em;
  width: 100%;
  height: 4em;
  border-radius: 28px;
  border: none;
}
.form__buttom--detail2 {
  margin-bottom: 1em;
  color: white;
  font-size: 1.5em;
}
.form__buttom--detail2 input {
  margin-top: 0.5em;
  width: 100%;
  height: 4em;
  border-radius: 28px;
  border: none;
}
.form__buttom--detail3 {
  margin-bottom: 1em;
  color: white;
  font-size: 1.5em;
}
.form__buttom--detail3 input {
  margin-top: 0.5em;
  width: 100%;
  height: 8em;
  border-radius: 28px;
  border: none;
}
.form__buttom--ok {
  display: flex;
}
.form__buttom--ok .ok {
  width: 100%;
  border-radius: 28px;
  margin-top: 1em;
  border: none;
  height: 2em;
  background-color: #ed6d39;
  color: white;
  font-size: 2em;
  box-shadow: 15px 15px 10px 0 rgba(0, 0, 0, 0.16);
  outline: none;
}

.form__buttom--ok input:active {
  transform: scale(0.95);
}
.form__buttom--ok input:hover {
  background-color: #ef7e50;
}

.footer {
  background-color: #222a35;
  color: white;
}
.footer__content {
  padding: 2% 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
}
.footer__content img {
  width: 50px;
  margin: 0 auto;
}